*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Hanuman";
  src: url("@/assets/fonts/Hanuman-Regular.ttf") format("truetype");
}

body {
  font-family: "Poppins", "Hanuman", sans-serif !important;
}

/* Error toast */
.Vue-Toastification__toast--error {
  background: #e02424 !important;
  color: white !important;
}

/* Success toast */
.Vue-Toastification__toast--success {
  background: #16a34a !important;
  color: #fff !important;
}

/* Info toast */
.Vue-Toastification__toast--info {
  background: #2563eb !important;
  color: #fff !important;
}

/* --------------bysothatt */
:root{
    --white: #ffffff;
    --bg-body: #f5f7fc;
    --text-main: #1f3b4c;
    --text-secondary: #6c7e8f;
}

.bg-while{
    background-color: var(--white) !important;
}
.bg-body{
    background-color: var(--bg-body) !important;
}
.text-main{
    color: var(--text-main) !important;
}
.text-secondary{
    color: var(--text-secondary) !important;
}

/* -------------testlogin */